In [2]:
def table_amortization_2(initial,invest,ROI,paid,interest_rate):
    import pandas as pd
    data_intro = pd.DataFrame()
    
    initial = initial
    paid = paid
    interest = initial*interest_rate/(12*100)
    payment = paid - interest
    remain = initial - payment
    
    invest = invest
    profit = invest*ROI/(12*100)
    total_invest = invest + profit
    
    valuation = remain - invest
    
    interest2 = remain*interest_rate/(12*100)
    payment2 = paid - interest2
    remain2 = remain - payment2
    total_invest2 = invest*2 + profit
    
    valuation2 = remain - total_invest2
    
    initial_list = [0,initial,paid,interest,payment,remain,invest,0,invest,valuation]
    second_list = [1,remain,paid,interest2,payment2,remain2,invest*2,profit,total_invest2,valuation2]
      
    data_intro[0] = initial_list
    data_intro[1] = second_list
    data_intro_new = data_intro.transpose()
    data_intro_new.columns = ['No',"Initial","Paid","Interest","Payment","Remain",'Invest','Profit','Total Invest','Valuation']
    return data_intro_new.round(2)

In [3]:
def add_table_2(initiate_database,month,paid,invest,ROI,interest_rate):
    for i in range(month):
        initial = initiate_database['Remain'][i+1] #initial
        interest = initial*interest_rate/(12*100)
        payment = paid - interest
        remain = initial-payment
        
        profit = invest*(i+2)*ROI/(12*100) #ROI
        total_invest = invest*(i+3) + profit
        valuation = remain - total_invest
        
        initiate_database.loc[i+2] = [i+2,initial,paid,interest,payment,remain, invest*(i+3),profit,total_invest,valuation] #invest*2,profit,total_invest2,valuation2
    return initiate_database.round(2)

In [4]:
def data_output(initial, allocation,paid,invest,ROI, interest_rate,month):
    initiate_database = table_amortization_2(initial,invest,ROI,paid,interest_rate)
    data = add_table_2(initiate_database,month,paid,invest,ROI,interest_rate)
    return data
def end_value(initial, allocation, paid, invest, ROI, interest_rate, month):
    data = data_output(initial, allocation, paid, invest, ROI, interest_rate, month)
    return data['Valuation'][month+1]

In [5]:
paid = 50

initial, allocation = 50000, 2000
invest = allocation-paid

ROI, interest_rate = 6, 5
month = 30

print(end_value(initial, allocation, paid, invest, ROI, interest_rate, month))
data_output(initial, allocation,paid,invest,ROI, interest_rate,month)

-7294.3

,No,Initial,Paid,Interest,Payment,Remain,Invest,Profit,Total Invest,Valuation
0,0.0,50000.00,50.0,208.33,-158.33,50158.33,1950.0,0.00,1950.00,48208.33
1,1.0,50158.33,50.0,208.99,-158.99,50317.33,3900.0,9.75,3909.75,46248.58
2,2.0,50317.33,50.0,209.66,-159.66,50476.99,5850.0,19.50,5869.50,44607.49
3,3.0,50476.99,50.0,210.32,-160.32,50637.31,7800.0,29.25,7829.25,42808.06
4,4.0,50637.31,50.0,210.99,-160.99,50798.30,9750.0,39.00,9789.00,41009.30
5,5.0,50798.30,50.0,211.66,-161.66,50959.95,11700.0,48.75,11748.75,39211.20
6,6.0,50959.95,50.0,212.33,-162.33,51122.29,13650.0,58.50,13708.50,37413.79
7,7.0,51122.29,50.0,213.01,-163.01,51285.30,15600.0,68.25,15668.25,35617.05
8,8.0,51285.30,50.0,213.69,-163.69,51448.99,17550.0,78.00,17628.00,33820.99
9,9.0,51448.99,50.0,214.37,-164.37,51613.36,19500.0,87.75,19587.75,32025.61
10,10.0,51613.36,50.0,215.06,-165.06,51778.41,21450.0,97.50,21547.50,30230.91
11,11.0,51778.41,50.0,215.74,-165.74,51944.16,23400.0,107.25,23507.25,28436.91
12,12.0,51944.16,50.0,216.43,-166.43,52110.59,25350.0,117.00,25467.00,26643.59
13,13.0,52110.59,50.0,217.13,-167.13,52277.72,27300.0,126.75,27426.75,24850.97
14,14.0,52277.72,50.0,217.82,-167.82,52445.54,29250.0,136.50,29386.50,23059.04
15,15.0,52445.54,50.0,218.52,-168.52,52614.06,31200.0,146.25,31346.25,21267.81
16,16.0,52614.06,50.0,219.23,-169.23,52783.29,33150.0,156.00,33306.00,19477.29
17,17.0,52783.29,50.0,219.93,-169.93,52953.22,35100.0,165.75,35265.75,17687.47
18,18.0,52953.22,50.0,220.64,-170.64,53123.86,37050.0,175.50,37225.50,15898.36
19,19.0,53123.86,50.0,221.35,-171.35,53295.21,39000.0,185.25,39185.25,14109.96
20,20.0,53295.21,50.0,222.06,-172.06,53467.27,40950.0,195.00,41145.00,12322.27
21,21.0,53467.27,50.0,222.78,-172.78,53640.05,42900.0,204.75,43104.75,10535.30
22,22.0,53640.05,50.0,223.50,-173.50,53813.55,44850.0,214.50,45064.50,8749.05
23,23.0,53813.55,50.0,224.22,-174.22,53987.77,46800.0,224.25,47024.25,6963.52
24,24.0,53987.77,50.0,224.95,-174.95,54162.72,48750.0,234.00,48984.00,5178.72
25,25.0,54162.72,50.0,225.68,-175.68,54338.40,50700.0,243.75,50943.75,3394.65
26,26.0,54338.40,50.0,226.41,-176.41,54514.81,52650.0,253.50,52903.50,1611.31
27,27.0,54514.81,50.0,227.15,-177.15,54691.96,54600.0,263.25,54863.25,-171.29
28,28.0,54691.96,50.0,227.88,-177.88,54869.84,56550.0,273.00,56823.00,-1953.16
29,29.0,54869.84,50.0,228.62,-178.62,55048.46,58500.0,282.75,58782.75,-3734.29
30,30.0,55048.46,50.0,229.37,-179.37,55227.83,60450.0,292.50,60742.50,-5514.67
31,31.0,55227.83,50.0,230.12,-180.12,55407.95,62400.0,302.25,62702.25,-7294.30

In [6]:
paid = 100

initial, allocation = 50000, 2000
invest = allocation-paid

ROI, interest_rate = 6, 5
month = 30

print(end_value(initial, allocation, paid, invest, ROI, interest_rate, month))
data = data_output(initial, allocation,paid,invest,ROI, interest_rate,month)
data

-7394.33

,No,Initial,Paid,Interest,Payment,Remain,Invest,Profit,Total Invest,Valuation
0,0.0,50000.00,100.0,208.33,-108.33,50108.33,1900.0,0.0,1900.0,48208.33
1,1.0,50108.33,100.0,208.78,-108.78,50217.12,3800.0,9.5,3809.5,46298.83
2,2.0,50217.12,100.0,209.24,-109.24,50326.36,5700.0,19.0,5719.0,44607.36
3,3.0,50326.36,100.0,209.69,-109.69,50436.05,7600.0,28.5,7628.5,42807.55
4,4.0,50436.05,100.0,210.15,-110.15,50546.20,9500.0,38.0,9538.0,41008.20
5,5.0,50546.20,100.0,210.61,-110.61,50656.81,11400.0,47.5,11447.5,39209.31
6,6.0,50656.81,100.0,211.07,-111.07,50767.88,13300.0,57.0,13357.0,37410.88
7,7.0,50767.88,100.0,211.53,-111.53,50879.41,15200.0,66.5,15266.5,35612.91
8,8.0,50879.41,100.0,212.00,-112.00,50991.41,17100.0,76.0,17176.0,33815.41
9,9.0,50991.41,100.0,212.46,-112.46,51103.88,19000.0,85.5,19085.5,32018.38
10,10.0,51103.88,100.0,212.93,-112.93,51216.81,20900.0,95.0,20995.0,30221.81
11,11.0,51216.81,100.0,213.40,-113.40,51330.21,22800.0,104.5,22904.5,28425.71
12,12.0,51330.21,100.0,213.88,-113.88,51444.09,24700.0,114.0,24814.0,26630.09
13,13.0,51444.09,100.0,214.35,-114.35,51558.44,26600.0,123.5,26723.5,24834.94
14,14.0,51558.44,100.0,214.83,-114.83,51673.26,28500.0,133.0,28633.0,23040.26
15,15.0,51673.26,100.0,215.31,-115.31,51788.57,30400.0,142.5,30542.5,21246.07
16,16.0,51788.57,100.0,215.79,-115.79,51904.36,32300.0,152.0,32452.0,19452.36
17,17.0,51904.36,100.0,216.27,-116.27,52020.62,34200.0,161.5,34361.5,17659.12
18,18.0,52020.62,100.0,216.75,-116.75,52137.38,36100.0,171.0,36271.0,15866.38
19,19.0,52137.38,100.0,217.24,-117.24,52254.62,38000.0,180.5,38180.5,14074.12
20,20.0,52254.62,100.0,217.73,-117.73,52372.34,39900.0,190.0,40090.0,12282.34
21,21.0,52372.34,100.0,218.22,-118.22,52490.56,41800.0,199.5,41999.5,10491.06
22,22.0,52490.56,100.0,218.71,-118.71,52609.27,43700.0,209.0,43909.0,8700.27
23,23.0,52609.27,100.0,219.21,-119.21,52728.48,45600.0,218.5,45818.5,6909.98
24,24.0,52728.48,100.0,219.70,-119.70,52848.18,47500.0,228.0,47728.0,5120.18
25,25.0,52848.18,100.0,220.20,-120.20,52968.38,49400.0,237.5,49637.5,3330.88
26,26.0,52968.38,100.0,220.70,-120.70,53089.08,51300.0,247.0,51547.0,1542.08
27,27.0,53089.08,100.0,221.20,-121.20,53210.29,53200.0,256.5,53456.5,-246.21
28,28.0,53210.29,100.0,221.71,-121.71,53332.00,55100.0,266.0,55366.0,-2034.00
29,29.0,53332.00,100.0,222.22,-122.22,53454.21,57000.0,275.5,57275.5,-3821.29
30,30.0,53454.21,100.0,222.73,-122.73,53576.94,58900.0,285.0,59185.0,-5608.06
31,31.0,53576.94,100.0,223.24,-123.24,53700.17,60800.0,294.5,61094.5,-7394.33

In [7]:
paid = 200

initial, allocation = 50000, 2000
invest = allocation-paid

ROI, interest_rate = 6, 5
month = 30

print(end_value(initial, allocation, paid, invest, ROI, interest_rate, month))
data_output(initial, allocation,paid,invest,ROI, interest_rate,month)

-7594.37

,No,Initial,Paid,Interest,Payment,Remain,Invest,Profit,Total Invest,Valuation
0,0.0,50000.00,200.0,208.33,-8.33,50008.33,1800.0,0.0,1800.0,48208.33
1,1.0,50008.33,200.0,208.37,-8.37,50016.70,3600.0,9.0,3609.0,46399.33
2,2.0,50016.70,200.0,208.40,-8.40,50025.10,5400.0,18.0,5418.0,44607.10
3,3.0,50025.10,200.0,208.44,-8.44,50033.54,7200.0,27.0,7227.0,42806.54
4,4.0,50033.54,200.0,208.47,-8.47,50042.01,9000.0,36.0,9036.0,41006.01
5,5.0,50042.01,200.0,208.51,-8.51,50050.52,10800.0,45.0,10845.0,39205.52
6,6.0,50050.52,200.0,208.54,-8.54,50059.07,12600.0,54.0,12654.0,37405.07
7,7.0,50059.07,200.0,208.58,-8.58,50067.65,14400.0,63.0,14463.0,35604.65
8,8.0,50067.65,200.0,208.62,-8.62,50076.26,16200.0,72.0,16272.0,33804.26
9,9.0,50076.26,200.0,208.65,-8.65,50084.91,18000.0,81.0,18081.0,32003.91
10,10.0,50084.91,200.0,208.69,-8.69,50093.60,19800.0,90.0,19890.0,30203.60
11,11.0,50093.60,200.0,208.72,-8.72,50102.32,21600.0,99.0,21699.0,28403.32
12,12.0,50102.32,200.0,208.76,-8.76,50111.08,23400.0,108.0,23508.0,26603.08
13,13.0,50111.08,200.0,208.80,-8.80,50119.88,25200.0,117.0,25317.0,24802.88
14,14.0,50119.88,200.0,208.83,-8.83,50128.71,27000.0,126.0,27126.0,23002.71
15,15.0,50128.71,200.0,208.87,-8.87,50137.58,28800.0,135.0,28935.0,21202.58
16,16.0,50137.58,200.0,208.91,-8.91,50146.49,30600.0,144.0,30744.0,19402.49
17,17.0,50146.49,200.0,208.94,-8.94,50155.43,32400.0,153.0,32553.0,17602.43
18,18.0,50155.43,200.0,208.98,-8.98,50164.41,34200.0,162.0,34362.0,15802.41
19,19.0,50164.41,200.0,209.02,-9.02,50173.43,36000.0,171.0,36171.0,14002.43
20,20.0,50173.43,200.0,209.06,-9.06,50182.49,37800.0,180.0,37980.0,12202.49
21,21.0,50182.49,200.0,209.09,-9.09,50191.58,39600.0,189.0,39789.0,10402.58
22,22.0,50191.58,200.0,209.13,-9.13,50200.71,41400.0,198.0,41598.0,8602.71
23,23.0,50200.71,200.0,209.17,-9.17,50209.88,43200.0,207.0,43407.0,6802.88
24,24.0,50209.88,200.0,209.21,-9.21,50219.09,45000.0,216.0,45216.0,5003.09
25,25.0,50219.09,200.0,209.25,-9.25,50228.34,46800.0,225.0,47025.0,3203.34
26,26.0,50228.34,200.0,209.28,-9.28,50237.62,48600.0,234.0,48834.0,1403.62
27,27.0,50237.62,200.0,209.32,-9.32,50246.94,50400.0,243.0,50643.0,-396.06
28,28.0,50246.94,200.0,209.36,-9.36,50256.31,52200.0,252.0,52452.0,-2195.69
29,29.0,50256.31,200.0,209.40,-9.40,50265.71,54000.0,261.0,54261.0,-3995.29
30,30.0,50265.71,200.0,209.44,-9.44,50275.15,55800.0,270.0,56070.0,-5794.85
31,31.0,50275.15,200.0,209.48,-9.48,50284.63,57600.0,279.0,57879.0,-7594.37

In [8]:
paid = 208.33

initial, allocation = 50000, 2000
invest = allocation-paid

ROI, interest_rate = 6, 5
month = 30

print(end_value(initial, allocation, paid, invest, ROI, interest_rate, month))
data_output(initial, allocation,paid,invest,ROI, interest_rate,month)

-7611.03

,No,Initial,Paid,Interest,Payment,Remain,Invest,Profit,Total Invest,Valuation
0,0.0,50000.00,208.33,208.33,-0.0,50000.00,1791.67,0.00,1791.67,48208.33
1,1.0,50000.00,208.33,208.33,-0.0,50000.01,3583.34,8.96,3592.30,46407.70
2,2.0,50000.01,208.33,208.33,-0.0,50000.01,5375.01,17.92,5392.93,44607.09
3,3.0,50000.01,208.33,208.33,-0.0,50000.02,7166.68,26.88,7193.56,42806.46
4,4.0,50000.02,208.33,208.33,-0.0,50000.02,8958.35,35.83,8994.18,41005.84
5,5.0,50000.02,208.33,208.33,-0.0,50000.02,10750.02,44.79,10794.81,39205.21
6,6.0,50000.02,208.33,208.33,-0.0,50000.03,12541.69,53.75,12595.44,37404.59
7,7.0,50000.03,208.33,208.33,-0.0,50000.03,14333.36,62.71,14396.07,35603.96
8,8.0,50000.03,208.33,208.33,-0.0,50000.03,16125.03,71.67,16196.70,33803.34
9,9.0,50000.03,208.33,208.33,-0.0,50000.04,17916.70,80.63,17997.33,32002.71
10,10.0,50000.04,208.33,208.33,-0.0,50000.04,19708.37,89.58,19797.95,30202.09
11,11.0,50000.04,208.33,208.33,-0.0,50000.04,21500.04,98.54,21598.58,28401.46
12,12.0,50000.04,208.33,208.33,-0.0,50000.05,23291.71,107.50,23399.21,26600.84
13,13.0,50000.05,208.33,208.33,-0.0,50000.05,25083.38,116.46,25199.84,24800.21
14,14.0,50000.05,208.33,208.33,-0.0,50000.05,26875.05,125.42,27000.47,22999.59
15,15.0,50000.05,208.33,208.33,-0.0,50000.06,28666.72,134.38,28801.10,21198.96
16,16.0,50000.06,208.33,208.33,-0.0,50000.06,30458.39,143.33,30601.72,19398.34
17,17.0,50000.06,208.33,208.33,-0.0,50000.07,32250.06,152.29,32402.35,17597.71
18,18.0,50000.07,208.33,208.33,-0.0,50000.07,34041.73,161.25,34202.98,15797.09
19,19.0,50000.07,208.33,208.33,-0.0,50000.07,35833.40,170.21,36003.61,13996.46
20,20.0,50000.07,208.33,208.33,-0.0,50000.08,37625.07,179.17,37804.24,12195.84
21,21.0,50000.08,208.33,208.33,-0.0,50000.08,39416.74,188.13,39604.87,10395.21
22,22.0,50000.08,208.33,208.33,-0.0,50000.08,41208.41,197.08,41405.49,8594.59
23,23.0,50000.08,208.33,208.33,-0.0,50000.09,43000.08,206.04,43206.12,6793.97
24,24.0,50000.09,208.33,208.33,-0.0,50000.09,44791.75,215.00,45006.75,4993.34
25,25.0,50000.09,208.33,208.33,-0.0,50000.10,46583.42,223.96,46807.38,3192.72
26,26.0,50000.10,208.33,208.33,-0.0,50000.10,48375.09,232.92,48608.01,1392.09
27,27.0,50000.10,208.33,208.33,-0.0,50000.10,50166.76,241.88,50408.64,-408.53
28,28.0,50000.10,208.33,208.33,-0.0,50000.11,51958.43,250.83,52209.26,-2209.16
29,29.0,50000.11,208.33,208.33,-0.0,50000.11,53750.10,259.79,54009.89,-4009.78
30,30.0,50000.11,208.33,208.33,-0.0,50000.11,55541.77,268.75,55810.52,-5810.41
31,31.0,50000.11,208.33,208.33,-0.0,50000.12,57333.44,277.71,57611.15,-7611.03

In [9]:
paid = 208.33 #50, 100, 150, 200, 208.33

initial, allocation = 50000, 2000
invest = allocation-paid

ROI, interest_rate = 6, 5
month = 30

print(end_value(initial, allocation, paid, invest, ROI, interest_rate, month))
data_output(initial, allocation,paid,invest,ROI, interest_rate,month)

-7611.03

,No,Initial,Paid,Interest,Payment,Remain,Invest,Profit,Total Invest,Valuation
0,0.0,50000.00,208.33,208.33,-0.0,50000.00,1791.67,0.00,1791.67,48208.33
1,1.0,50000.00,208.33,208.33,-0.0,50000.01,3583.34,8.96,3592.30,46407.70
2,2.0,50000.01,208.33,208.33,-0.0,50000.01,5375.01,17.92,5392.93,44607.09
3,3.0,50000.01,208.33,208.33,-0.0,50000.02,7166.68,26.88,7193.56,42806.46
4,4.0,50000.02,208.33,208.33,-0.0,50000.02,8958.35,35.83,8994.18,41005.84
5,5.0,50000.02,208.33,208.33,-0.0,50000.02,10750.02,44.79,10794.81,39205.21
6,6.0,50000.02,208.33,208.33,-0.0,50000.03,12541.69,53.75,12595.44,37404.59
7,7.0,50000.03,208.33,208.33,-0.0,50000.03,14333.36,62.71,14396.07,35603.96
8,8.0,50000.03,208.33,208.33,-0.0,50000.03,16125.03,71.67,16196.70,33803.34
9,9.0,50000.03,208.33,208.33,-0.0,50000.04,17916.70,80.63,17997.33,32002.71
10,10.0,50000.04,208.33,208.33,-0.0,50000.04,19708.37,89.58,19797.95,30202.09
11,11.0,50000.04,208.33,208.33,-0.0,50000.04,21500.04,98.54,21598.58,28401.46
12,12.0,50000.04,208.33,208.33,-0.0,50000.05,23291.71,107.50,23399.21,26600.84
13,13.0,50000.05,208.33,208.33,-0.0,50000.05,25083.38,116.46,25199.84,24800.21
14,14.0,50000.05,208.33,208.33,-0.0,50000.05,26875.05,125.42,27000.47,22999.59
15,15.0,50000.05,208.33,208.33,-0.0,50000.06,28666.72,134.38,28801.10,21198.96
16,16.0,50000.06,208.33,208.33,-0.0,50000.06,30458.39,143.33,30601.72,19398.34
17,17.0,50000.06,208.33,208.33,-0.0,50000.07,32250.06,152.29,32402.35,17597.71
18,18.0,50000.07,208.33,208.33,-0.0,50000.07,34041.73,161.25,34202.98,15797.09
19,19.0,50000.07,208.33,208.33,-0.0,50000.07,35833.40,170.21,36003.61,13996.46
20,20.0,50000.07,208.33,208.33,-0.0,50000.08,37625.07,179.17,37804.24,12195.84
21,21.0,50000.08,208.33,208.33,-0.0,50000.08,39416.74,188.13,39604.87,10395.21
22,22.0,50000.08,208.33,208.33,-0.0,50000.08,41208.41,197.08,41405.49,8594.59
23,23.0,50000.08,208.33,208.33,-0.0,50000.09,43000.08,206.04,43206.12,6793.97
24,24.0,50000.09,208.33,208.33,-0.0,50000.09,44791.75,215.00,45006.75,4993.34
25,25.0,50000.09,208.33,208.33,-0.0,50000.10,46583.42,223.96,46807.38,3192.72
26,26.0,50000.10,208.33,208.33,-0.0,50000.10,48375.09,232.92,48608.01,1392.09
27,27.0,50000.10,208.33,208.33,-0.0,50000.10,50166.76,241.88,50408.64,-408.53
28,28.0,50000.10,208.33,208.33,-0.0,50000.11,51958.43,250.83,52209.26,-2209.16
29,29.0,50000.11,208.33,208.33,-0.0,50000.11,53750.10,259.79,54009.89,-4009.78
30,30.0,50000.11,208.33,208.33,-0.0,50000.11,55541.77,268.75,55810.52,-5810.41
31,31.0,50000.11,208.33,208.33,-0.0,50000.12,57333.44,277.71,57611.15,-7611.03

In [10]:
    paid = 50
    initial, allocation = 50000, 2000
    invest = allocation-paid

    ROI, interest_rate = 6, 5
    month = 30

data = data_output(initial, allocation,paid,invest,ROI, interest_rate,month)
data

,No,Initial,Paid,Interest,Payment,Remain,Invest,Profit,Total Invest,Valuation
0,0.0,50000.00,50.0,208.33,-158.33,50158.33,1950.0,0.00,1950.00,48208.33
1,1.0,50158.33,50.0,208.99,-158.99,50317.33,3900.0,9.75,3909.75,46248.58
2,2.0,50317.33,50.0,209.66,-159.66,50476.99,5850.0,19.50,5869.50,44607.49
3,3.0,50476.99,50.0,210.32,-160.32,50637.31,7800.0,29.25,7829.25,42808.06
4,4.0,50637.31,50.0,210.99,-160.99,50798.30,9750.0,39.00,9789.00,41009.30
5,5.0,50798.30,50.0,211.66,-161.66,50959.95,11700.0,48.75,11748.75,39211.20
6,6.0,50959.95,50.0,212.33,-162.33,51122.29,13650.0,58.50,13708.50,37413.79
7,7.0,51122.29,50.0,213.01,-163.01,51285.30,15600.0,68.25,15668.25,35617.05
8,8.0,51285.30,50.0,213.69,-163.69,51448.99,17550.0,78.00,17628.00,33820.99
9,9.0,51448.99,50.0,214.37,-164.37,51613.36,19500.0,87.75,19587.75,32025.61
10,10.0,51613.36,50.0,215.06,-165.06,51778.41,21450.0,97.50,21547.50,30230.91
11,11.0,51778.41,50.0,215.74,-165.74,51944.16,23400.0,107.25,23507.25,28436.91
12,12.0,51944.16,50.0,216.43,-166.43,52110.59,25350.0,117.00,25467.00,26643.59
13,13.0,52110.59,50.0,217.13,-167.13,52277.72,27300.0,126.75,27426.75,24850.97
14,14.0,52277.72,50.0,217.82,-167.82,52445.54,29250.0,136.50,29386.50,23059.04
15,15.0,52445.54,50.0,218.52,-168.52,52614.06,31200.0,146.25,31346.25,21267.81
16,16.0,52614.06,50.0,219.23,-169.23,52783.29,33150.0,156.00,33306.00,19477.29
17,17.0,52783.29,50.0,219.93,-169.93,52953.22,35100.0,165.75,35265.75,17687.47
18,18.0,52953.22,50.0,220.64,-170.64,53123.86,37050.0,175.50,37225.50,15898.36
19,19.0,53123.86,50.0,221.35,-171.35,53295.21,39000.0,185.25,39185.25,14109.96
20,20.0,53295.21,50.0,222.06,-172.06,53467.27,40950.0,195.00,41145.00,12322.27
21,21.0,53467.27,50.0,222.78,-172.78,53640.05,42900.0,204.75,43104.75,10535.30
22,22.0,53640.05,50.0,223.50,-173.50,53813.55,44850.0,214.50,45064.50,8749.05
23,23.0,53813.55,50.0,224.22,-174.22,53987.77,46800.0,224.25,47024.25,6963.52
24,24.0,53987.77,50.0,224.95,-174.95,54162.72,48750.0,234.00,48984.00,5178.72
25,25.0,54162.72,50.0,225.68,-175.68,54338.40,50700.0,243.75,50943.75,3394.65
26,26.0,54338.40,50.0,226.41,-176.41,54514.81,52650.0,253.50,52903.50,1611.31
27,27.0,54514.81,50.0,227.15,-177.15,54691.96,54600.0,263.25,54863.25,-171.29
28,28.0,54691.96,50.0,227.88,-177.88,54869.84,56550.0,273.00,56823.00,-1953.16
29,29.0,54869.84,50.0,228.62,-178.62,55048.46,58500.0,282.75,58782.75,-3734.29
30,30.0,55048.46,50.0,229.37,-179.37,55227.83,60450.0,292.50,60742.50,-5514.67
31,31.0,55227.83,50.0,230.12,-180.12,55407.95,62400.0,302.25,62702.25,-7294.30

In [11]:
    paid = 50
    initial, allocation = 50000, 2000
    invest = allocation-paid

    ROI, interest_rate = 6, 5
    month = 60

data = data_output(initial, allocation,paid,invest,ROI, interest_rate,month)
data

,No,Initial,Paid,Interest,Payment,Remain,Invest,Profit,Total Invest,Valuation
0,0.0,50000.00,50.0,208.33,-158.33,50158.33,1950.0,0.00,1950.00,48208.33
1,1.0,50158.33,50.0,208.99,-158.99,50317.33,3900.0,9.75,3909.75,46248.58
2,2.0,50317.33,50.0,209.66,-159.66,50476.99,5850.0,19.50,5869.50,44607.49
3,3.0,50476.99,50.0,210.32,-160.32,50637.31,7800.0,29.25,7829.25,42808.06
4,4.0,50637.31,50.0,210.99,-160.99,50798.30,9750.0,39.00,9789.00,41009.30
...,...,...,...,...,...,...,...,...,...,...
57,57.0,60163.08,50.0,250.68,-200.68,60363.76,113100.0,555.75,113655.75,-53291.99
58,58.0,60363.76,50.0,251.52,-201.52,60565.28,115050.0,565.50,115615.50,-55050.22
59,59.0,60565.28,50.0,252.36,-202.36,60767.63,117000.0,575.25,117575.25,-56807.62
60,60.0,60767.63,50.0,253.20,-203.20,60970.83,118950.0,585.00,119535.00,-58564.17
61,61.0,60970.83,50.0,254.05,-204.05,61174.88,120900.0,594.75,121494.75,-60319.87

In [12]:
graph(data)

NameError: name 'graph' is not defined

In [ ]:
    paid = 0
    initial, allocation = 1611.31, 2000
    invest = allocation-paid

    ROI, interest_rate = 6, 5
    month = 33

data = data_output(initial, allocation,paid,invest,ROI, interest_rate,month)
data

In [ ]:
graph(data)

In [ ]:
graph(data)

In [ ]:
    paid = 50
    initial, allocation = 50000, 2000
    invest = allocation-paid

    ROI, interest_rate = 6, 5
    month = 30

data_output(initial, allocation,paid,invest,ROI, interest_rate,month)

In [ ]:
for i in range(20):
    paid = (i+1)*100
    initial, allocation = 50000, 2000
    invest = allocation-paid

    ROI, interest_rate = 6, 5
    month = 30
    
    data = data_output(initial, allocation,paid,invest,ROI, interest_rate,month)
    
    graph(data)

In [ ]:
data_y_comparison = []
data_x_comparison = [(i+1)*100 for i in range(20)]

for i in range(20):
    paid = (i+1)*100
    initial, allocation = 50000, 2000
    invest = allocation-paid

    ROI, interest_rate = 6, 5
    month = 30
    data_y_comparison.append(end_value(initial, allocation, paid, invest, ROI, interest_rate, month))

In [ ]:
data_x_comparison, data_y_comparison

In [ ]:
paid = 50

initial, allocation = 50000, 2000
invest = allocation-paid

ROI, interest_rate = 6, 5
month = 30

print(end_value(initial, allocation, paid, invest, ROI, interest_rate, month))
data = data_output(initial, allocation,paid,invest,ROI, interest_rate,month)

In [ ]:
def graph(data):
    import matplotlib.pyplot as plt
    import numpy as np

    zero = [i for i in range(month+2)]
    plt.plot(data['No'], data['Remain'], label='Remaining Loan') #f : numpy
    plt.plot(data['No'], data['Valuation'], label='Valuation') 
    plt.plot(data['No'], data['Total Invest'], label='Total Invest') #g : numpy
    plt.plot(data['No'], zero, label='Zero Line')

    # f = data['Remain'].to_numpy()
    # g = data['Total Invest'].to_numpy()
    
    test = np.sign(data['Remain'] - data['Total Invest'])
    
    idx = np.argwhere(np.diff(test)).flatten()
    plt.plot(data['No'][idx], data['Remain'][idx], 'ro')
    
    plt.legend()
    print(idx)
    return plt.show()

graph(data)

In [ ]:
plt.plot(data_x_comparison, data_y_comparison, label='Loan vs Payment')
plt.xlabel('Payment')
plt.ylabel('Loan')

plt.legend()
plt.show()

In [ ]:
#graph1 = data.plot(x ='No', y='Remain', kind = 'scatter')
#graph2 = data.plot(x ='No', y='Valuation', kind = 'scatter')
#graph1,graph2

In [ ]:
#data_output_2

In [ ]:
#print(data_output_2["Value"].sum().round(2))
#print(data_output_1["Value"].sum().round(2))
#print((data_output_2["Value"].sum()-data_output_1["Value"].sum()).round(2))
#str(((data_output_2["Value"].sum()-data_output_1["Value"].sum())/20).round(2))+" percent"

In [ ]:
def saving(a,t,n):
  """This is a saving plan that you need to keep it up, a indicate your expected cash flow in the future, t is inflation rate prediction, n is the number of years that you need to survive"""
  r = 1 + t/100
  result = (a*r**(n+1)-a)/(r-1)
  return "With the inflation rate prediction of " + str(t) + " percent , expected current liabilities of " + str(a/12) + ". You are expected to have this capital without income " + str(result) + " and you are expected to save " + str(result/(n*12))

case1 = saving(60000000,10,50)
print(case1)