In [ ]:
#By Post Parameter
like, comment, sent, save = 
profile_visit_specific, replies, website_clicks, email_clicks = 
follows, reach = 
impressions_hashtag, impressions_home, impressions_profile, impressions_other = 
impressions = impressions_hashtag + impressions_home + impressions_profile + impressions_other
interactions = profile_visit_specific + replies + website_clicks + email_clicks 


#By General Instagram

#By Post Parameter

#average reach rate/post = rate post/n
#Instagram growth = final-initial/time
initial_followers = 
final_followers = 
time = 

mentions = 
profile_visit_general =
get_direction_click =
views = 
tags = 
exits =
swipes, taps_forward, taps_back =
replies = 
going_live = 

completion_rate = 100-exit_rate
shortcuts = exits + swipes + taps_forward + taps_back
exit_rate = exits/impressions
view_rate = views/impressions

website_click_rate = website_clicks/profile_visit
get_direction_click_rate = get_direction_click/profile_views 
email_click_rate = email_clicks/profile_visit
reach_rate = reach/final_followers
avg_reach_rate = reach_rate/n


def followers_growth(final_followers,initial_followers,time):
  final_followers-initial_followers)/time

def instagram_advertisement_value()
CTR = Clickthrough_rate

https://blog.iconosquare.com/instagram-metrics/

### Post Insights

In [ ]:
love, comment, send, save = 962, 37, 55, 107

-------------------------

In [15]:
post_profile_visit, reach = 516, 5531
post_website_clicks, post_email = 187, 1
post_total_interactions = post_profile_visit + post_website_clicks + post_email

In [16]:
import pandas as pd
data_post_interaction = pd.DataFrame()
data_post_interaction["Email"] = [round(post_email*100/post_total_interactions,2)] 
data_post_interaction["Profile Visits"] = [round(post_profile_visit*100/post_total_interactions,2)]
data_post_interaction["Website Clicks"] = [round(post_website_clicks*100/post_total_interactions,2)]
data_post_interaction

   Email  Profile Visits  Website Clicks
0   0.14            73.3           26.56

-------------------------

In [ ]:
follows = 12

-------------------------

In [19]:
from_home = 4869
from_hashtags = 360
from_profile = 111
from_other = 3309
impressions = from_home + from_hashtags + from_profile + from_other

In [20]:
import pandas as pd
data_post_impression = pd.DataFrame()
data_post_impression["Home"] = [round(from_home*100/impressions,2)] 
data_post_impression["Hashtags"] = [round(from_hashtags*100/impressions,2)]
data_post_impression["Profile"] = [round(from_profile*100/impressions,2)]
data_post_impression["Other"] = [round(from_other*100/impressions,2)]
data_post_impression

   Home  Hashtags  Profile  Other
0  56.3      4.16     1.28  38.26

### Interactions

In [11]:
shares = 0
replies = 6
profile_visit = 65
website_clicks = 6
total_interaction = shares + replies + profile_visit + website_clicks

In [12]:
import pandas as pd
data_interaction = pd.DataFrame()
data_interaction["Shares"] = [round(shares*100/total_interaction,2)] 
data_interaction["Replies"] = [round(replies*100/total_interaction,2)] 
data_interaction["Profile Visits"] = [round(profile_visit*100/total_interaction,2)]
data_interaction["Website Clicks"] = [round(website_clicks*100/total_interaction,2)]
data_interaction

   Shares  Replies  Profile Visits  Website Clicks
0     0.0     7.79           84.42            7.79

### Discovery

In [9]:
back = 215
forwards = 2313
next_story = 103
exited = 1033
total_discovery = back + forwards + next_story + exited

In [10]:
import pandas as pd
data_discovery = pd.DataFrame()
data_discovery["Back"] = [round(back*100/total_discovery,2)] 
data_discovery["Forwards"] = [round(forwards*100/total_discovery,2)]
data_discovery["Next Story"] = [round(next_story*100/total_discovery,2)]
data_discovery["Exited"] = [round(exited*100/total_discovery,2)]
data_discovery

   Back  Forwards  Next Story  Exited
0  5.87     63.13        2.81   28.19

In [40]:
#28th Feb
interactions = [26,6,29,1]
discovery = [2075,3484,0,0]
navigation = [38,1392,196,538]

In [51]:
data_done = pd.DataFrame()
data_done["Interactions"] = interactions
data_done["Discovery"] = discovery
data_done["Navigation"] = navigation
data_done_2 = data_done.transpose()
data_done_2['4'] = data_done_2[0] + data_done_2[1] + data_done_2[2] + data_done_2[3]
data_done_2

                 0     1    2    3     4
Interactions    26     6   29    1    62
Discovery     2075  3484    0    0  5559
Navigation      38  1392  196  538  2164

In [27]:
test = [1,2,3]

62

### Social Metrics

In [ ]:
reach = # actual number of people who have seen your post
followers = 
reach_rate = reach/followers

impression # post/Stories/profile

In [ ]:
def engagement_rate_concept():
    engagement_rate_likes = likes/final_followers
    engagement_rate_comment = comment/final_followers
    engagement_rate_save = save/final_followers
    engagement_rate_total = engagement_rate_likes + engagement_rate_comment + engagement_rate_save

def engagement_reach_concept():
    engagement_reach_likes = likes/reach
    engagement_reach_comment = comment/reach
    engagement_reach_save = save/reach
    engagement_reach_total = engagement_reach_likes + engagement_reach_comment + engagement_reach_save

email_click
email_click_rate = email_click/profile_views

get_direction_click
get_direction_click_rate = get_direction_click/profile_views

website_click
website_click_rate = website_click/profile_views

view = 
view_rate = 

exit 
exit_rate = exit/impressions