Many line items can be part of a single basket represented by a unique transaction ID. Transactions are by many customers from different countries. Please explore the data for more details.

Your task is to find the daily forecast of "total number of items sold" for the next 21 days (3 weeks), starting from 19th November 2011 to 9th December 2011.

Data Condition: Unclean, Cancelled Order -> Use Exploratory Analysis and Data Cleansing
Suggestion : Train/Test Splitting

In [3]:
import pandas as pd
data = pd.read_csv("train_data.csv")
data.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'Description', 'Quantity',
       'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [4]:
data.head(5)

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [38]:
datetime_sample = data["InvoiceDate"][3]
date_sample = datetime_sample[0:10]

print(datetime_sample)
print(date_sample)

2010-12-01 08:26:00
2010-12-01

In [35]:
data_date = pd.DataFrame()
data_date['Date'] = pd.to_datetime()

TypeError: to_datetime() missing 1 required positional argument: 'arg'

1. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
2. https://stackoverflow.com/questions/47949743/how-do-i-sort-a-pandas-data-frame-by-date-time

In [5]:
data["Country"].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [41]:
quantity_check = data["Quantity"].unique()
positive_data = data[data["Quantity"]>0]

In [67]:
positive_data.head(3)

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [10]:
for i in data.columns:
    print(i, len(data[i].unique())) # len(data) = Unnamed

Unnamed: 0 482003
InvoiceNo 23585
StockCode 4043
Description 4182
Quantity 685
InvoiceDate 21233
UnitPrice 1563
CustomerID 4223
Country 38

In [26]:
data_customerID = data.groupby(['CustomerID'])

In [47]:
data.isnull().sum() # data.isna().sum()

Unnamed: 0          0
InvoiceNo           0
StockCode           0
Description      1409
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     118912
Country             0
dtype: int64

In [62]:
data_CustomerID_valid = data[data.isnull()["CustomerID"] == False]
data_CustomerID_valid.head(3)

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [65]:
for i in data_CustomerID_valid.columns:
    print(i, type(data_CustomerID_valid[i][0]))

Unnamed: 0 <class 'numpy.int64'>
InvoiceNo <class 'str'>
StockCode <class 'str'>
Description <class 'str'>
Quantity <class 'numpy.int64'>
InvoiceDate <class 'str'>
UnitPrice <class 'numpy.float64'>
CustomerID <class 'numpy.float64'>
Country <class 'str'>

Plotting Quantity-Each Item over Time
1. Time, storing the data by the dates
2. Groupby the quantity

In [55]:
for i in data_CustomerID_valid.columns:
    print(i, len(data_CustomerID_valid[i].unique())) # len(data) = Unnamed

Unnamed: 0 363091
InvoiceNo 20107
StockCode 3658
Description 3866
Quantity 420
InvoiceDate 18600
UnitPrice 588
CustomerID 4222
Country 37

In [56]:
data_CustomerID_valid.isnull().sum()

Unnamed: 0     0
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

Plotting Quantity-Each Item over Time
1. Time, storing the data by the dates
2. Groupby the quantity

In [ ]:
StockCode 3658
Description 3866
data_CustomerID_valid

In [58]:
grouped = data_CustomerID_valid.groupby('Description', axis='columns')

In [61]:
grouped.first()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[363091 rows x 0 columns]